@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Krona+One&display=swap');

.navbar {
    font-family: 'Karla', sans-serif;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 900;
    margin: 0;
    padding: 0.2rem;
}

.nav-item {
    margin-right: 2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

