img{
    border-radius: 0.5rem;
}

.box{
    border-radius: 0.5rem;
}

.event-title-all{
    font-size: 2.5rem;
}
.img-events-cov{
    height: 500px;
    width: auto;
}
@media screen and (max-width: 600px) {
    .event-title-all{
        font-size: 25px;
    }
    .event-info-all{
        font-size: 18px;
    }
    .event-body-an{
        font-size: 15px;
    }
    .img-events-cov{
        height: auto;
        width: auto;
    }
  }

