.carousel-home{
    height: 40rem;
    margin-top: 0.5rem;
    width: auto;
  }
  .carousel-img{
    height: auto;
    width: auto;
    max-height: 38rem;
  }

  #carousel-man-div{
      padding: 4rem;
  }
  @media (max-width:800px){
      #carousel-main-div{
        display: none;
      }
      .carousel-home{
        display: none;
      }
  }