#heading{
    background-color: #2e66a5;
}

#newComment{
    width: 100%;
}

#allComments{
    border-radius: 5%;
    padding: 5px;
}

#allComments:nth-of-type(odd) {
    background: #e6f0f2;
}

body{
    background-color:#f4f6f7;
}

.jumbotron-heading-top{
    text-align: center;
}

#sochem-logo{
    height: 70px;
    width: 70px;
}
.card{
    width: 13rem;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
    background-color: #F4F6F7;
    border: none;
    display:inline-block;
}
.card-body{
    padding: 1rem;
}
a{
    color: black;
}
.card-profile-main{
    width: 100%;
    margin-left: 18px;
}

.image-card-profile-main{
    border-radius: 100%;
    
}
#profile-comment-all:nth-of-type(odd){
    background-color: #E9ECEF;
}
