@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Krona+One&display=swap');

.navbar {
    font-family: 'Karla', sans-serif;
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    padding: 0.5rem;
}

.nav-item {
    margin-right: 2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
