@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sochem {
  margin-top: 100px;
}

#about-sochem-home{
  font-family: 'Cabin', sans-serif;
}

.alternate-bgcolor:nth-of-type(even) {
  background: #E6F0F2
}

#home-forum-name{
  font-family: 'Tajawal', sans-serif;
}

