@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sochem {
  margin-top: 100px;
}

#about-sochem-home{
  font-family: 'Cabin', sans-serif;
}

.alternate-bgcolor:nth-of-type(even) {
  background: #E6F0F2
}

#home-forum-name{
  font-family: 'Tajawal', sans-serif;
}

.top-image-home{
  height: 30rem;
  object-fit:cover;
  width: 100%;
  border-radius: 0;
  margin: 0;
}

.cont-home-sochem{  
  background-color: #1794d1;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  width: 100%;
  margin-top: 0;
  margin: 0;
  margin-bottom: 3rem;
}
.cont-home-sochem-jb{  
  background-color: #1794d1;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  width: 100%;
  margin: 0;
  padding: 1rem;
}
.carousel-home{
  height: 35rem;
  margin-top: 1rem;
}
.carousel-img{
  height: 35rem;
}
